body {
  animation: overflow 15s;
}


p {
  margin: 0 !important;
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: "My Font";
  src: url(../fonts/Lobster-Regular.ttf);
}


/*header container*/
.header-container {
  background: #f2f2f2;
  border-radius: 0 0 50px 50px;
}

.header {
  /* From https://css.glass */
  background: rgba(228, 205, 205, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0 0 20px 20px;
  border: 1px solid rgb(255 255 255);
}


/*search-item input*/
.search-item input {
  width: 80%;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: transparent;
}


.name-web a {
  font-family: "My Font";
  text-decoration: none;
  color: #0f2027;
}


.logo-png {
  filter: invert(55%) sepia(162%) saturate(3371%) hue-rotate(-647deg) brightness(41%) contrast(225%);

}

.order,
.user,
.shopping {
  padding: 3px 5px;
  gap: 10px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.order:hover {
  background: rgb(242 242 242 / 62%);
}

.user:hover {
  background: rgb(242 242 242 / 62%);

}

.shopping:hover {
  background: rgb(242 242 242 / 62%);

}



/*account*/
.account {
  gap: 30px;
}

.account a {
  text-decoration: none;
  font-family: "inter";
  font-weight: bold;
  color: #453939;
}

.nav-container {
  margin-top: 15px;
}

.navbar-1 {
  display: ruby-text !important;
  justify-content: center !important;
}




/*slide */
.slide {
  width: 80%;
  height: 400px;
  margin: auto;
}

.carousel-inner-style {
  height: 100%;
  border-radius: 12px;
  border: 3px solid lightslategray;
}


/*loading page*/
.loading-page {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.preload.loaded {
  transition-delay: 5s;
  transform: translate(100%);
}

@keyframes overflow {
  0% {
    overflow: hidden;
  }
}

/*End loading page*/